*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
    --firstcolor:white;
    --secondcolor:black;
}
body{
    text-transform: capitalize;
    font-family: sans-serif;
    text-align: center;
}
main{
    width: 90%;
    margin: auto;
}
.content{
    width:70%;
    margin: auto;
}
.pic{
    width: 15vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin:5% auto;
    padding-top: 8%;
    box-shadow: 0px 0px 60px blue;
    cursor: pointer;
}
.awesome{
    margin: 5% auto;
    font-size: 50px;
    perspective: 200px;
    perspective-origin: center center;
}
i{
    margin: 0 1%;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 10%;
    padding-top: 5px;
    cursor: pointer;
}
.fa-facebook-f{
    color:var(--firstcolor);
    background-color: #211C6A;
}
.fa-instagram{
    color:var(--firstcolor);
    background-color: #FF8080;
}
.fa-linkedin-in{
    color:var(--firstcolor);
    background-color: #279EFF;
}
.fa-tiktok{
    color: var(--firstcolor);
    background-color:var(--secondcolor);
    
}
.pic:hover{
    box-shadow: 0px 0px 20px blue;
}
i:hover{
    box-shadow: 0px 0px 30px black  ;
    transition: all 1s;
    transform: translate3d(0,0,20px);
}